---
layout: default
title: A.C.T.I.V.E!
---

<!-- Masthead -->
<section id="masthead" class="masthead text-center bg-lightgrey">
    <div class="container">
        <h1 class="masthead-header">Credits</h1>
    </div>
</section>

<!-- Team -->
<section id="team" class="page-section">
    <div class="container">
        {% include team.html %}
    </div>
</section>

<!-- Credits for images -->
<section id="image-credits" class="page-section bg-light">
    <div class="container">
        {% include image-credits.html %}
    </div>
</section>

<!-- References -->
<section id="references" class="page-section">
    <div class="container">
        {% include references.html %}
    </div>
</section>