---
layout: default
title: A.C.T.I.V.E!
---

<!-- Masthead -->
<section id="masthead" class="masthead text-center bg-lightgrey">
    <div class="container full-height">
        {% include masthead.html %}
    </div>
</section>


<!-- Routes -->
<section id="routes" class="leaderboard page-section">
    <div class="container full-height">
        {% include routes.html %}
    </div>
</section>

<!-- Footer -->
<footer id="footer" class="footer bg-footer">
    <div class="container text-white">
        <div class="row text-center justify-content-center">
            <div class="footer-col text-left col-11 col-md-6">
                <h5>Contact Us</h5>
                <hr align="left">
                <p class="footer-text">
                    <a href="https://www.facebook.com/groups/GBADC3Community" class="footer-link" target="_blank">
                        <i class="fab fa-facebook" aria-hidden="true"></i> Facebook
                    </a>
                    <br>
                    <!-- <a href="#" class="footer-link">
                        Instagram <i class="fab fa-instagram"></i>
                    </a> -->
                    <!-- <br> -->
                    <a href="https://forms.gle/9Eed7sKLLBStVnfR8" class="footer-link">
                        <i class="fas fa-file-alt"></i> Contact Form
                    </a>
                </p>
            </div>
            <div class="footer-col text-left col-11 col-md-6">
                <h5>Credits</h5>
                <hr align="left">
                <p class="footer-text">
                    Brought to you by the <a href="#" class="footer-link"><strong>Aces Team</strong></a>.
                </p>
            </div>
        </div>
    </div>
</footer>