<div class="spacer"></div>
<h2 class="page-section-header text-center">Japanese Invasion Series</h2>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center">
                <h4>Sungei Buloh Wetland Reserve</h4>
                Details here.
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center">
                <h4>Labrador Park</h4>
                Details here.
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center">
                <h4>Sentosa - Fort Siloso</h4>
                Details here.
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center">
                <h4>Kent Ridge</h4>
                Details here.
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center">
                <h4>Bukit Batok Nature Park</h4>
                Details here.
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center">
                <h4>MacRitchie Reservoir</h4>
                Details here.
            </div>
        </div>
    </div>
</div>