<style>
    #sungei-buloh::before { background-image: url("{{ site.baseurl }}/assets/images/sungei-buloh.jpg") }
    #labrador-park::before { background-image: url("{{ site.baseurl }}/assets/images/labrador-park.JPG") }
    #sentosa::before { background-image: url("{{ site.baseurl }}/assets/images/fort-siloso.jpg") }
    #bukit-chandu::before { background-image: url("{{ site.baseurl }}/assets/images/bukit-chandu.jpg") }
    #bukit-batok::before { background-image: url("{{ site.baseurl }}/assets/images/bukit-batok.JPG") }
    #macritchie::before { background-image: url("{{ site.baseurl }}/assets/images/macritchie.jpg") }
</style>

<h2 class="page-section-header text-center">Japanese Invasion Series</h2>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="sungei-buloh">
                <a href="{{ site.baseurl }}/routes/sungei-buloh.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Sungei Buloh Wetland Reserve</h4>
                        <p>The landing site of the Japanese Imperial Guards Division on 9 February 1942, now a world-class eco-tourism experience.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="labrador-park">
                <a href="{{ site.baseurl }}/routes/labrador-park.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Labrador Park</h4>
                        <p>The site of the Labrador Battery and the coastal guns, alongside Singapore's oldest docks.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="sentosa">
                <a href="{{ site.baseurl }}/routes/sentosa.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Sentosa</h4>
                        <p>The site of Fort Siloso.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="bukit-chandu">
                <a href="{{ site.baseurl }}/routes/kent-ridge.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Kent Ridge</h4>
                        <p>The battleground of Lieutenant Adnan Saidi's fight to the death and the Former Ford Factory where the British surrendered.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="bukit-batok">
                <a href="{{ site.baseurl }}/routes/bukit-batok.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Bukit Batok Nature Park</h4>
                        <p>Japanese WWII Memorial Plaque, Quarry.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="macritchie">
                <a href="{{ site.baseurl }}/routes/macritchie.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">MacRitchie Reservoir</h4>
                        <p>Lim Bo Seng's grave; "Syonan Jinja" Light of the South Shrine.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>