<h2 class="page-section-header text-center">Japanese Invasion Series</h2>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="sungei-buloh">
                <div class="routes-card-content">
                    <h4 class="font-weight-bold">Sungei Buloh Wetland Reserve</h4>
                    The landing site of the Japanese Imperial Guards Division on 9 February 1942, now a world-class eco-tourism experience.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="labrador-park">
                <a href="{{ site.baseurl }}/routes/labrador-park.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Labrador Park</h4>
                        <p>The site of the Labrador Battery and the coastal guns, alongside Singapore's oldest docks.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="sentosa">
                <div class="routes-card-content">
                    <h4 class="font-weight-bold">Sentosa</h4>
                    The site of Fort Siloso.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="bukit-chandu">
                <div class="routes-card-content">
                    <h4 class="font-weight-bold">Kent Ridge-Bukit Chandu</h4>
                    The battleground of Lieutenant Adnan Saidi's fight to the death and the Former Ford Factory where the British surrendered.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="bukit-batok">
                <div class="routes-card-content">
                    <h4 class="font-weight-bold">Bukit Batok Nature Park</h4>
                    Japanese WWII Memorial Plaque, Quarry.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="macritchie">
                <div class="routes-card-content">
                    <h4 class="font-weight-bold">MacRitchie Reservoir</h4>
                    Lim Bo Seng's grave; "Syonan Jinja" Light of the South Shrine.
                </div>
            </div>
        </div>
    </div>
</div>