<h2 class="page-section-header text-center">The Most A.C.T.I.V.E!</h2>
<div class="container">
    <!-- <div style="overflow-x: scroll;"> -->
        <table id="lb" class="compact stripe">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <!-- <th>Total Distance</th> -->
                </tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>Howe Chao Lee</td></tr>
                <tr><td>2</td><td>Esther Ang</td></tr>
                <tr><td>3</td><td>Daryl Chiang</td></tr>
                <tr><td>4</td><td>Tan Han Long</td></tr>
                <tr><td>5</td><td>Heww YH</td></tr>
                <tr><td>6</td><td>Ling Boon Goh</td></tr>
                <tr><td>7</td><td>Sortie Lim</td></tr>
                <tr><td>8</td><td>Yoda Soh Wei Ting</td></tr>
                <tr><td>9</td><td>Lloyd Lin</td></tr>
                <tr><td>10</td><td>SALTBAE</td></tr>
                <!-- <tr><td>1</td><td>Howe Chao Lee</td><td>487.42 km</td></tr>
                <tr><td>2</td><td>Esther Ang</td><td>431.52 km</td></tr>
                <tr><td>3</td><td>Daryl Chiang</td><td>406.55 km</td></tr>
                <tr><td>4</td><td>Tan Han Long</td><td>368.77 km</td></tr>
                <tr><td>5</td><td>Heww YH</td><td>356.62 km</td></tr>
                <tr><td>6</td><td>Ling Boon Goh</td><td>350.32 km</td></tr>
                <tr><td>7</td><td>Sortie Lim</td><td>291.91 km</td></tr>
                <tr><td>8</td><td>Yoda Soh Wei Ting</td><td>274.85 km</td></tr>
                <tr><td>9</td><td>Lloyd Lin</td><td>197.74 km</td></tr>
                <tr><td>10</td><td>SALTBAE</td><td>177.77 km</td></tr> -->
            </tbody>
        </table>
    <!-- </div> -->
</div>