<!-- Masthead -->
<!-- <div class="spacer"></div> -->
<div class="masthead-div">
    <h1 class="masthead-header">A.C.T.I.V.E!</h1>
    <div class="masthead-text">
        AOD Comes Together In Vigour and Exercise!
    </div>
    <!-- <a href="#routes" class="btn btn-get-started">Overview</a>
    <br>
    <br> -->
    <p>
        <a href="#jap-invasion-section" class="btn btn-get-started mr-auto mr-md-1">Japanese Invasion</a>
        <a href="#sg-history-heritage-section" class="btn btn-get-started ml-auto ml-md-1">History and Heritage</a>
    </p>
    <p class="masthead-link">
        For offline reference, please use the <a class="masthead-fancy-link" href="https://drive.google.com/file/d/1FtIj9j_1rrU5uqCm81qRbnLZvrI1AIfw/view?usp=sharing" target="_blank">A.C.T.I.V.E! Playbook</a>.
    </p>
</div>