<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
        <span style="font-family: Roboto Mono;">A.C.T.I.V.E!</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" style="font-family: Roboto Mono;">
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Japanese Invasion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ site.baseurl }}/routes/sungei-buloh.html">Sungei Buloh</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/routes/labrador-park.html">Labrador Park</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/routes/sentosa.html">Sentosa</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/routes/kent-ridge.html">Kent Ridge</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/routes/bukit-batok.html">Bukit Batok</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/routes/macritchie.html">MacRitchie</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    History & Heritage
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ site.baseurl }}/routes/chinatown.html">Chinatown</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/routes/katong-joochiat.html">Katong-Joo Chiat</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/routes/marina-bay.html">Marina Bay Waterfront</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/routes/botanic-gardens.html">Botanic Gardens</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/routes/upper-peirce.html">Upper Peirce Reservoir</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/routes/green-corridor.html">Green Corridor</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="{{ site.baseurl }}/rules" class="nav-link">Rules</a>
            </li>
        </ul>
    </div>
</nav>