<h2 class="page-section-header text-center">References</h2>

<div class="references">
    <ol>
        <li>Ministry of Culture, Community and Youth, National Heritage Board, National Parks, & Urban Redevelopment Authority. (2015). Jubilee Walk. https://www.nhb.gov.sg/~/media/nhb/files/places/trails/jubilee-walk/nhb_jubileewalk_booklet.pdf</li>
        <li>Tan, B. (2018). Railway in Singapore. Railway in Singapore, 1. https://eresources.nlb.gov.sg/infopedia/articles/SIP_953_2005-01-25.html</li>
        <li>Geh, M. (2010). The Green Corridor - A Proposal to Keep the Railway Lands as a Continuous Green Corridor. The Green Corridor - A Proposal to Keep the Railway Lands as a Continuous Green Corridor, 7. https://www.nss.org.sg/documents/TheGreenCorridor101103.pdf</li>
        <li>Tan, K. (2021, March 29). Green Corridor: Walking Trail That Links Clementi Forest, Truss Bridge & Old Bukit Timah Railway Station. TheSmartLocal - Singapore’s Leading Travel and Lifestyle Portal. Retrieved November 5, 2021, from https://thesmartlocal.com/read/green-corridor-singapore/</li>
        <li>Singapore Railway. (2012, May 27). Remember Singapore. Retrieved November 5, 2021, from https://remembersingapore.org/singapore-railway/</li>
        <li>Mohamed, Z. (1997, December 21). MacRitchie Reservoir | Infopedia. National Library Board. Retrieved November 5, 2021, from https://eresources.nlb.gov.sg/infopedia/articles/SIP_159_2004-12-27.html</li>
        <li>Lee, G. (2004, December 24). Syonan Jinja | Infopedia. National Library Board. Retrieved November 5, 2021, from https://eresources.nlb.gov.sg/infopedia/articles/SIP_236_2004-12-24.html</li>
        <li>Yap, K. K. (2018, December 17). Appreciating MacRitchie Reservoir. Singapore Memory. Retrieved November 5, 2021, from https://www.singaporememory.sg/contents/SMA-21f786d7-c690-453a-9327-a3e1abf5630f</li>
        <li>Heok, T. J. (2021, August 24). Syonan Jinja: Singapore’s Hidden Shrine That Is The Grandest After The Meiji Shrine In Tokyo. TheSmartLocal - Singapore’s Leading Travel and Lifestyle Portal. Retrieved November 5, 2021, from https://thesmartlocal.com/read/syonan-jinja/</li>
        <li>Wong, H. (1999, April 16). Lim Bo Seng | Infopedia. National Library Board. Retrieved November 5, 2021, from https://eresources.nlb.gov.sg/infopedia/articles/SIP_802_2004-12-28.html</li>
        <li>Chinatown Walking Trail - 14 Amazing Stops To Explore. (2020, August 20). Chinatown Singapore. Retrieved December 5, 2021, from https://chinatown.sg/walking-trail/</li>
        <li>National Heritage Board. (2013). Singapore in World War II. National Heritage Board.</li>
        <li>National Parks. (2013, June). Your Guide to Pioneers Trail in Ann Siang Hill Park and Telok Ayer Green. NParks - Going on a DIY Walk. Retrieved November 5, 2021, from https://www.nparks.gov.sg/-/media/nparks-real-content/gardens-parks-and-nature/diy-walk/diy-walk-pdf-files/pioneers-trail-ann-siang-hill-park-and-telok-ayer-green.pdf</li>
        <li>H. (2021, October 29). The complete guide to Joo Chiat: What to do, eat and see at this hip Eastern neighbourhood. Honeycombers Singapore. Retrieved December 5, 2021, from https://thehoneycombers.com/singapore/what-to-do-in-joo-chiat/</li>
        <li>https://www.ura.gov.sg</li>
        <li>https://www.nparks.gov.sg</li>
        <li>https://www.roots.gov.sg</li>
        <li>https://marinakeppelbay.com</li>
        <li>https://yipyc.com</li>
        <li>https://www.visitsingapore.com</li>
        <li>Life with Matt and Nikki. (2019, March 5). TOP SINGAPORE WW2 SITES and the BATTLE FOR SINGAPORE [Video]. YouTube. https://www.youtube.com/watch?v=azecALDA2-s</li>
        <li>See, J. P. (2021, July 25). 【4K】Exploring Singapore’s 1st Asean Heritage Park | Sungei Buloh Wetland Reserve | Virtual Tour | [Video]. YouTube. https://www.youtube.com/watch?v=bkuj7uQE0iY</li>
        <li>Mediacorp. (2021, April 13). Labrador Park Tunnel, why it keeps giving rise to paranormal tales | History Mysteries EP1 [Video]. YouTube. https://www.youtube.com/watch?v=LnbY845chnQ</li>
        <li>Asia Hikelopedia [The Fall of Singapore]. (2021, July 3). The Fall of Singapore | 80th anniversary - Part 1 Invasion [Video]. YouTube. https://www.youtube.com/watch?v=CDTjTo5MJlE&list=PLWgsI9liDBz4jACR1BCodign245o0ZGMb&index=2</li>
        <li>SIDManimation. (2012, August 7). Bukit Chandu (new version with sound) [Video]. YouTube. https://www.youtube.com/watch?v=Zo3wa6KhVWU</li>
        <li>Ronan Films. (2021, February 15). Ann Siang Hill, Singapore Heritage Trail [Video]. YouTube. https://www.youtube.com/watch?v=am694ltWGis</li>
        <li>The Straits Times. (2019, May 8). Sharing Singapore’s history through street art | Turning Point | The Straits Times [Video]. YouTube. https://www.youtube.com/watch?v=QS4gFwkzZTkhttps://www.nparks.gov.sg</li>
        <li>National Parks. (2020, September 29). Singapore Botanic Gardens Heritage Trail | An NParks Virtual Tour [Video]. YouTube. https://www.youtube.com/watch?v=10_41ukjY-g</li>
        <li>National Parks. (2015, July 4). Singapore Botanic Gardens: UNESCO World Heritage Site [Video]. YouTube. https://www.youtube.com/watch?v=iVEQeNjN3h0</li>
        <li>Tatler Tours. (2020, December 5). Tatler Tours: Violet Oon Takes You Around Katong [Video]. YouTube. https://www.youtube.com/watch?v=Xh1-kDKcTRM</li>
        <li>Roots Singapore. (2020, February 11). Pasir Ris Heritage Trail [Video]. YouTube. https://www.youtube.com/watch?v=2VTQWu92hzI</li>
    </ol>    
</div>