<!-- Routes -->
<div class="spacer"></div>
<div class="row justify-content-center">
    <div class="col-11">
        <h2 class="page-section-header text-center">Routes</h2>
        <div class="small-spacer"></div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="text-center routes-card">
                    <h3>Japanese Invasion Series</h3>
                    <br>
                    <p>Sungei Buloh Wetland Reserve</p>
                    <p>Labrador Park</p>
                    <p>Sentosa - Fort Siloso</p>
                    <p>Kent Ridge</p>
                    <p>Bukit Batok Nature Park</p>
                    <p>Macritchie Reservoir</p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="text-center routes-card">
                    <h3>Singapore History & Heritage</h3>
                    <br>
                    <p>Chinatown & Ann Siang Hill</p>
                    <p>Katong-Joo Chiat Art Circuit</p>
                    <p>Marina Bay Waterfront</p>
                    <p>Botanic Gardens</p>
                    <p>Upper Peirce Reservoir</p>
                    <p>Green Corridor</p>
                </div>
            </div>
        </div>
    </div>
</div>