<!-- Routes -->
<div class="row justify-content-center">
    <div class="col-11">
        <h2 class="page-section-header text-center">Routes</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="text-center">
                    <h3>Japanese Invasion Series</h3>
                    Sungei Buloh Wetland Reserve<br>
                    Labrador Park<br>
                    Sentosa - Fort Siloso<br>
                    Kent Ridge<br>
                    Bukit Batok Nature Park<br>
                    Macritchie Reservoir<br>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="text-center">
                    <h3>Singapore History & Heritage</h3>
                    Chinatown & Ann Siang Hill<br>
                    Katong-Joo Chiat Art Circuit<br>
                    Marina Bay Waterfront<br>
                    Botanic Gardens<br>
                    Upper Peirce Reservoir<br>
                    Green Corridor<br>
                </div>
            </div>
        </div>
    </div>
</div>