<!-- Routes -->
<div class="row justify-content-center">
    <div class="col-11">
        <h2 class="page-section-header text-center">Routes</h2>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-6">
                <h3>Japanese Invasion Series</h3>
                <ol>
                    <li>Sungei Buloh Wetland Reserve</li>
                    <li>Labrador Park</li>
                    <li>Sentosa - Fort Siloso</li>
                    <li>Kent Ridge</li>
                    <li>Bukit Batok Nature Park</li>
                    <li>Macritchie Reservoir</li>
                </ol>
            </div>
            <div class="col-sm-12 col-6">
                <h3>Singapore History & Heritage</h3>
                <ol>
                    <li>Chinatown & Ann Siang Hill</li>
                    <li>Katong-Joo Chiat Art Circuit</li>
                    <li>Marina Bay Waterfront</li>
                    <li>Botanic Gardens</li>
                    <li>Upper Peirce Reservoir</li>
                    <li>Green Corridor</li>
                </ol>
            </div>
        </div>
    </div>
</div>