<style>
    #chinatown::before { background-image: url("{{ site.baseurl }}/assets/images/lo-res/ann-siang-lo-res.jpg") }
    #katong-joochiat::before { background-image: url("{{ site.baseurl }}/assets/images/lo-res/marina-bay-lo-res.jpg") }
    #marina-bay::before { background-image: url("{{ site.baseurl }}/assets/images/lo-res/marina-bay-lo-res.jpg") }
    #botanic-gardens::before { background-image: url("{{ site.baseurl }}/assets/images/lo-res/botanic-gardens-lo-res.jpg") }
    #upper-peirce::before { background-image: url("{{ site.baseurl }}/assets/images/lo-res/upper-peirce-lo-res.jpg") }
    #green-corridor::before { background-image: url("{{ site.baseurl }}/assets/images/lo-res/green-corridor-lo-res.jpg") }

    /* Full Images */
    /* Chinatown: https://media.timeout.com/images/105736769/image.jpg" */
    /* Katong-Joo Chiat: https://media.timeout.com/images/105822190/image.jpg */
    /* Marina Bay: https://www.befreetour.com/img/produk/combo-marina-bay-sands-skypark-observation-deck-gardens-by-the-bay-artscience-museum/combo-marina-bay-sands-skypark-observation-deck-gardens-by-the-bay-artscience-museum_8a88f525896589903049f287224e91dce1bd4fc1.jpg */
    /* Botanic Gardens: https://www.nparks.gov.sg/-/media/nparks-real-content/gardens-parks-and-nature/sg-botanic-gardens/sbg10_047alt.jpg */
    /* Upper Peirce: https://upload.wikimedia.org/wikipedia/commons/1/1a/UpperPeirceReservoir-20050226.jpg */
    /* Green Corridor: https://www.ura.gov.sg/-/media/Corporate/Image-Gallery/Get-Involved/Rail-corridor/Rail%20Corridor%20gallery%201.JPG */

</style>

<h2 class="page-section-header text-center">Singapore History & Heritage</h2>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="chinatown">
                <a href="{{ site.baseurl }}/routes/chinatown.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Chinatown</h4>
                        <p>A quiet enclave amid a former kampong with street identities, overseen by former Combined Ops HQ on Pearl's Hill.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="katong-joochiat">
                <a href="{{ site.baseurl }}/routes/katong-joochiat.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Katong-Joo Chiat Art Circuit</h4>
                        <p>Once a weekend retreat by city dwellers, now filled with pre-ware architecture - colourful shophouses, intricate motifs, peppered with murals and heritage boards.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="marina-bay">
                <a href="{{ site.baseurl }}/routes/marina-bay.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Marina Bay Waterfront</h4>
                        <p>Once a traditional important site for trade, the Singapore River was tranformed into a clean and pleasant destination lined by historic buildings.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="botanic-gardens">
                <a href="{{ site.baseurl }}/routes/botanic-gardens.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Botanic Gardens</h4>
                        <p>A cultural cornerstone and the first and only tropical garden on the list of UNESCO World Heritage Sites.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="upper-peirce">
                <a href="{{ site.baseurl }}/routes/upper-peirce.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Upper Peirce Reservoir</h4>
                        <p>A major water supply project to support our rapid housing and industrialisation programme.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="green-corridor">
                <a href="{{ site.baseurl }}/routes/green-corridor.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Green Corridor</h4>
                        <p>Once a critical transport link between tiny Singapore to Eurasia, now reserved as an intricate network of micro-ecosystems.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>