<h2 class="page-section-header text-center">Singapore History & Heritage</h2>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="ann-siang">
                <a href="{{ site.baseurl }}/routes/ann-siang.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Ann Siang Hill, Chinatown & Pearl's Hill</h4>
                        <p>Details here.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="joo-chiat">
                <a href="{{ site.baseurl }}/routes/joo-chiat.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Katong-Joo Chiat Art Circuit</h4>
                        <p>Details here.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="marina-bay">
                <a href="{{ site.baseurl }}/routes/marina-bay.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Marina Bay Waterfront</h4>
                        <p>Details here.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="botanic-gardens">
                <a href="{{ site.baseurl }}/routes/botanic-gardens.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Botanic Gardens</h4>
                        <p>Details here.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="upper-peirce">
                <a href="{{ site.baseurl }}/routes/upper-peirce.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Upper Peirce Reservoir</h4>
                        <p>Details here.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 routes-col">
            <div class="col-12 routes-card text-center" id="green-corridor">
                <a href="{{ site.baseurl }}/routes/green-corridor.html" class="card-link">
                    <div class="routes-card-content">
                        <h4 class="font-weight-bold">Green Corridor</h4>
                        <p>Details here.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>