<h2 class="page-section-header text-center">The Team</h2>

<div class="row justify-content-center">
    <div class="col-4">
        <h3 class="credits-names text-right">K. K. Lee</h3>
    </div>
    <div class="col-1">
        <h3 class="credits-names text-center">|</h3>
    </div>
    <div class="col-4">
        <h3 class="credits-names text-left">GFOB</h3>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-4">
        <h3 class="credits-names text-right">W. Y. Mak</h3>
    </div>
    <div class="col-1">
        <h3 class="credits-names text-center">|</h3>
    </div>
    <div class="col-4">
        <h3 class="credits-names text-left">GFOB</h3>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-4">
        <h3 class="credits-names text-right">C. Chow</h3>
    </div>
    <div class="col-1">
        <h3 class="credits-names text-center">|</h3>
    </div>
    <div class="col-4">
        <h3 class="credits-names text-left">RDO</h3>
    </div>
</div>