<h2 class="page-section-header text-center">The Team</h2>

<div class="row justify-content-center">
    <div class="col-6 credits-col">
        <h3 class="credits-names text-right">K.K.</h3>
    </div>
    <div class="col-6 credits-col">
        <h3 class="credits-names text-left">Lee</h3>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6 credits-col">
        <h3 class="credits-names text-right">W.Y.</h3>
    </div>
    <div class="col-6 credits-col">
        <h3 class="credits-names text-left">Mak</h3>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6 credits-col">
        <h3 class="credits-names text-right">C.</h3>
    </div>
    <div class="col-6 credits-col">
        <h3 class="credits-names text-left">Leong</h3>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6 credits-col">
        <h3 class="credits-names text-right">L.</h3>
    </div>
    <div class="col-6 credits-col">
        <h3 class="credits-names text-left">Lim</h3>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6 credits-col">
        <h3 class="credits-names text-right">C.</h3>
    </div>
    <div class="col-6 credits-col">
        <h3 class="credits-names text-left">Chow</h3>
    </div>
</div>